@import "../../sass/styles/colors";

.boxsection {
    background-color: $background;
    background-image: url("../../public/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}