@import "../../../sass/styles/colors";
@import "../../../sass/styles/fonts";

// Generic header
.header {
    width: 100%;
    min-height: 6.25em;
    position: fixed;
    z-index: 100;
}

.contentheader {
    width: 80%;
    margin: auto;
    min-height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.scrollon {
    background: #191A1Cbf;
    backdrop-filter: blur(20px);
    box-shadow: 0 3px 10px $dark;
    transition: 200ms ease-in-out;
}

.scrolloff {
    background: transparent;
    transition: 200ms ease-in-out;
}

// Logo
.logo text {
    transition: 200ms ease-in-out;

    &:hover {
        filter: drop-shadow(0 0 5px $blue);
        transition: 200ms ease-in-out;
    }
}

.logo:hover g g:nth-child(4) {
    animation: lighting 1s ease 0s infinite alternate forwards;
    ;
}

@keyframes lighting {
    0% {
        animation-timing-function: ease-out;
        opacity: 1;
    }

    10% {
        animation-timing-function: ease-in;
        opacity: 0;
    }

    17% {
        animation-timing-function: ease-out;
        opacity: 1;
    }

    33% {
        animation-timing-function: ease-out;
        opacity: 1;
    }

    45% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

.listlink {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.063em;
}

.linknav {
    background-color: transparent;
    padding: .3em .938em;
    border-radius: 4px;
    font-size: 1.25em;
    font-family: $text;
    font-weight: $regular;
    color: $white;
    letter-spacing: 1px;
    transition: 200ms ease;

    &:hover {
        background-color: $transparentWhite;
        transition: background-color 200ms ease;
    }
}