/* prompt-300 - latin */
@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('./prompt-v10-latin-300.woff2') format('woff2')
}

@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('./prompt-v10-latin-500.woff2') format('woff2')
}

@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('./prompt-v10-latin-700.woff2') format('woff2')
}

@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url('./prompt-v10-latin-900.woff2') format('woff2')
}