@import '../../../sass/styles/colors';
@import '../../../sass/styles/colorstyle';
@import '../../../sass/styles/fonts';

.footer {
    background-color: saddlebrown;
    width: 100%;
    height: 393px;
}