@import "../../sass/styles/colors";
@import "../../sass/styles/fonts";
@import "../../sass/styles/colorstyle";

.cardline {
    position: relative;
    display: inline-block;
    width: 24.938em;
    height: 15.188em;
    padding: 2.5em;
    overflow: hidden;
    transition: 100ms;
    border: 2px solid $transparentWhite;
    border-radius: .75em;

    &:hover {
        border: 2px solid $red;
        transition-delay: 1s;
        box-shadow: 0 0 6px $shadowRed;
    }

    &:hover .linehover:nth-child(1) {
        left: 100%;
        transition: left 700ms ease;
    }

    &:hover .linehover:nth-child(3) {
        right: 100%;
        transition: right 700ms ease;
        transition-delay: 500ms;
    }

    &:hover .linehover:nth-child(2) {
        top: 100%;
        transition: top 700ms ease;
        transition-delay: 250ms;
    }

    &:hover .linehover:nth-child(4) {
        bottom: 100%;
        transition: bottom 700ms ease;
        transition-delay: 750ms;
    }
}

.linehover {
    position: absolute;
    display: block;

    &:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: .125em;
        background: linear-gradient(90deg, transparent, $red);
    }

    &:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: .125em;
        background: linear-gradient(270deg, transparent, $red);
    }

    &:nth-child(2) {
        top: -100%;
        right: 0;
        width: .125em;
        height: 100%;
        background: linear-gradient(180deg, transparent, $red);
    }

    &:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: .125em;
        height: 100%;
        background: linear-gradient(360deg, transparent, $red);
    }
}

.contentcardline {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.contenttitlecardline {
    display: flex;
    align-items: center;
    gap: 22px;
}

.iconcardline {
    width: 2.5em;
    height: 2.5em;
}

.titlecardline {
    font-size: 1.5em;
    font-family: $title;
    font-weight: $medium;
    color: $white;
}

.textcardline {
    font-size: 1em;
    font-family: $text;
    font-weight: $light;
    color: $white;
    opacity: .5;
}