@import '../sass/styles/colors';
@import '../sass/styles/fonts';

.hero {
    background-image: url("../public/bghero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenthero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infohero {
    width: fit-content;
    display: flex;
    gap: 3.125em;
}

.boxarticle {
    padding-top: 11.063em;
    display: flex;
    flex-direction: column;
    padding-bottom: 3.125em;
}

.boxcardsworkdesigner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8.75em 0;
}

.boxcardsbetterux {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 17.125em;

    & :nth-child(2){
        align-self: flex-end;
    }
}

.boxsdemodesign {
    display: flex;
    flex-flow: column wrap;
    gap: 3.75em 0;
}

.boxcardsdemofirst {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxcardsdemosecond {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxform {
    background-color: $background;
    padding: 6.25em 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.titleform {
    font-size: 1.875em;
    font-family: $title;
    font-weight: $bold;
    color: $white;
}