.hero {
    background-image: url("../public/bghero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenthero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infohero {
    width: fit-content;
    display: flex;
    gap: 3.125em;
}

.workux {
    padding-top: 11.063em;
    display: flex;
    flex-direction: column;
    padding-bottom: 3.125em;
}

.boxcards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8.75em 0;
}